*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #0f172a;
}
.container{
    display: flex;
}
.row{
    width: 100%;
    margin: 7rem;
    color: #f1f5f9;
}

a{
    text-decoration: none;
    color: #cbd5e1;
}
  